@charset "utf-8";

.title_news {
    font-weight: bold;
    padding-left: 5px;
    font-size: 18px;
    font-family: PT_Sans;
}
.lead_news {
    font-style: italic;
    padding-left: 5px;
    font-size: 18px;
    font-family: PT_Serif;
}
.author {
    font-size: 18px;
    font-family: PT_Serif;
}
p {
    padding-left: 5px;
    font-size: 18px;
    font-family: PT_Serif;
}
img {
    width: 100%;
}
@font-face {
    font-family: PT_Sans;
    src: url(PT_Sans-Web-Bold.ttf);
}
@font-face {
    font-family: PT_Serif;
    src: url(PT_Serif-Web-Regular.ttf);
}